th{
    background-color: black;
    color: white;
}
table,td,thead{
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 30px;
    font-weight: bolder;
    font-family: sans-serif;
}